footer{

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 38vh;
    height: 60px;
    
    font-size: 1.3rem;
    font-family: $secondary-font;
    background-color: black;
    color: white;

}